.mainpage_container {
    background-color: #EFF2F5;
    margin-top: 3.9%;
}

.imagelayout_container {
    display: flex;
    margin: 15px;
}

.imagelayout_img {
    max-width: 32px;
    max-height: 32px;
}

.imagelayout_text {
    font-weight: 500;
    margin: 7px 0px 0px 8px;
    font-size: 15px;
}

.middlecontainer {
    margin-left: 60px !important;
    max-width: 620px !important;
    height: 90vh;

}

.Middle {
    overflow-y: scroll;
}